* {
  font-family: Helvetica;
}
.App {
  text-align: center;
  background-color: rgba(225, 229, 235, 0.998);
}
.loginClass {
  display: inline;
  border: 2px solid black;
  border-radius: 10px;
  padding: 25px;
  margin: 50px;
  width: 100%;
  
}
.loginWrapper {
  display: flex;
  width: 100%;
}
.loginPageWrapper {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
}
.header {
  /* background-color: rgba(76, 88, 103, 0.796); */
  padding-top: 1px;
  padding-bottom: 0px;
  width: 70%;
  margin-left: 32%;
  text-align: left;
  font-size: 30px;
  /* margin-bottom: 1px; */
}
.header h1 {
  margin-bottom: 40px;
}
.conversationsList {
  border: 2px;
  border-radius: 20px;
  width: 30%;
  height: 90vh;
  margin-right: 1%;
  margin-left: 1%;
  /* background-color: rgba(252, 252, 251, 0.845); */
}
.conversationItem {
  /* border: 0.5px solid black; */
  background-color: white;
  margin-bottom: 2%;
  border-radius: 20px;
  height: 10%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;

}
.conversationItem p {
  margin: 0;
  padding: 0;
  
}
.conversationItem p::first-letter {
  text-transform: uppercase;
}
.conversationItem:hover, .conversationItem.isCurrent {
  /* background-color: rgb(122, 119, 119); */
  /* height: 15%; */
  width: 95%;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.302); */
  box-shadow: 0px 0px 80px 30px rgba(80, 79, 79, 0.302);

}
.conversationItemNotification {
  background-color: rgb(60, 233, 60);
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 20px;
  border-radius: 20px;
}
.currentConversation {
  /* border-left: 2px solid rgba(76, 88, 103, 0.796); */
  background-color: rgb(252, 252, 251);
  border-radius: 20px;
  width: 70%;
  margin-right: 2%;
  
}
.currentConversationMessages {
  height: 92%;
}
.homeContentWrapper {
  display: flex;
  align-content: center;
  
}
.messageWrapper {
  display: flex;
  justify-content: flex-start;
}
.messageWrapperFromMe {
  
  justify-content: flex-end;
}
.message {
  margin-bottom: 1%;
  border-radius: 30px 30px 30px 0px;
  width: 30%;
  
  background-color: rgb(5, 156, 250);

}
.message.hovered {
  margin-left: 1%;
}
.messageFromMe {
  background-color: rgba(37, 161, 64, 0.789);
  border-radius: 30px 30px 0px 30px;
  margin-bottom: 10px;
}
.messageFromMe.hovered {
  margin-right: 1%;
}
.messageTime {
  font-size: 10px;
}
.messageWrapperForMe.messageTime {
  margin-left: 10px;
}
.messageWrapperFromMe.messageTime {
  margin-right: 10px;
}
.inputWrapper {
  margin-bottom: 0;
  
}
.input {
  height: 50px;
  width: 50%;
  float: left;
  position: fixed;
  bottom: 25px;
  left: 35%;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 100px 1px rgba(0, 0, 0, 0.211);
}
.sendNewMessage {
  position: fixed;
  bottom: 25px;
  left: 85.2%;
  height: 52px;
  width: 10%;
  background-color: rgba(65, 239, 65, 0.885);
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 20px;
}
.sendNewMessage:hover {
  background-color: rgba(65, 239, 65, 0.2);
}
.newConversationPopup {
  position: absolute;
  z-index: 3;
  top: 20vh;
  left: 20vw;
  height: 550px;
  width: 1200px;
  margin: auto;
  /* background-color: rgba(225, 229, 235, 0.998); */
  background-color: whitesmoke;
  box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.631);
  border-radius: 20px;
  
}
.newConversationPopupWrapper {
  display: flex;
  flex-direction: row;
  /* max-width: 500px; */
  flex-flow: row wrap;
  padding-top: 2%;
  
  height: 80%;
}
/* .newConversationPopupHeader {
  
} */
.newConversationHeaderText {
  font-size: 30px;
}
.usersSearch {
  width: 30%;
  margin-right: 10%;
  padding: 2%;
  /* border-right: 2px solid black; */
}
.results {
  overflow-y: scroll-hidden;
  height: 80%;
  width: 100%;
  margin-left: 5%;
}
.results .usersListItem {
  /* border: 2px solid black; */
  /* border-radius: 20px; */
  height: 30px;
  padding: 10px;
  /* margin: 10px; */
  text-align: left;
  font-size: 20px;
  width: 90%;
}
/* .results .usersListItem:hover {
  background-color: white;
} */
.newConversationButton {
  height: 40px;
  width: 70px;
  font-size: 25px;
  margin-bottom: 2%;
  border: none;
  border-radius: 20px;
  background-color: white;
}
.newConversationButton:hover {
  width: 15%;
  box-shadow: 0px 0px 80px 30px rgba(80, 79, 79, 0.302);
}
.closeNewConversationPopupButton {
  float: right;
  margin-right: 8px;
  margin-top: 6px;
}
.newConversationPopupFooter {
  float: left;
  clear: both;
  width: 100%;
  height: 10%;
}
.startNewConversationButton {
  float: left;
  margin-left: 110px;
  background-color: white;
  border: none;
  border-radius: 20px;
  width: 12%;
  height: 100%;
  font-size: 20px;
}
.startNewConversationButton:hover {
  margin-left: 105px;
  width: 14%;
}
.startNewConversationButton:focus-visible {
  background-color: rgb(56, 56, 188);
}
.usersListItem {
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  
}
.usersListItem:hover {
  background-color: white;
}
.addedUsers {
  width: 50%;
  text-align: center;
  
}
.addedUsers .usersListItem {
  /* border: 2px solid black; */
  background-color: white;
  text-align: center;
  border-radius: 20px;
  height: 40px;
  padding: 10px;
  margin: auto;
  margin-bottom: 1%;
  width: 90%;
}
.addedUsers .usersListItem:hover {
  width: 100%;
}


